<div class="center" style="margin-top: 20px;">
  <form style="overflow: hidden;">
    <div>
      <div class="label-text d-flex">
        <div class="col-md-5 ">
          <label class="float-end pe-4" for="Inputname">*Computer IP or Name:</label>
        </div>
        <div class="col-md-5">
          <input style="width: 100%" class="form-control" type="text" id="Inputname">
        </div>
      </div>
    </div>
    <br>

    <div>
      <div class="label-text d-flex">
        <div class="col-md-5">
          <label class="float-end pe-4" for="Inputname">GUI Type:</label>
        </div>
        <div class="col-md-7">
          <select style="width: 230px;" class="btn btn-lg dropdown-toggledropdown-toggle dropdown-white"
            class="float-left" name="cars" id="cars">
            <option value="volvo">Large Font With Button</option>
          </select>
        </div>
      </div>
    </div>
    <br>

    <div>
      <div class="label-text d-flex">
        <div class="col-md-5">
          <label class="float-end pe-4" for="Inputname">Shop name:</label>
        </div>
        <div class="col-md-4">
          <input style="width: 100%" class="form-control" type="text" id="Inputname">
        </div>
      </div>
    </div>
    <br>

    <div>
      <div class="label-text d-flex">
        <div class="col-md-5">
          <label for="Inputname" class="float-end pe-4">Description:</label>
        </div>
        <div class="col-md-7">
          <input style="width: 500px;" class="form-control" type="text" id="Inputname">
        </div>
      </div>
    </div>
    <br>

    <div>
      <div class="label-text d-flex">
        <div class="col-md-5">
          <label class="float-end pe-4" for="Inputname">Local:</label>
        </div>
        <div class="col-md-7">
          <select style="width: 300px;" class="btn btn-lg dropdown-toggledropdown-toggle dropdown-white"
            class="float-left" name="cars" id="cars">
            <option value="volvo">English Local For the USA</option>
          </select>
        </div>
      </div>
    </div>
    <br>

    <div>
      <div class="label-text d-flex">
        <div class="col-md-5">
          <label class="float-end pe-4" for="Inputname">Default Profile:</label>
        </div>
        <div class="col-md-7">
          <select style="width: 300px;" class="btn btn-lg dropdown-toggledropdown-toggle dropdown-white"
            class="float-left" name="cars" id="cars">
            <option value="volvo">None</option>
            <option value="volvo">EnyEnyEnyEnyEnyEnyEny</option>
          </select>
        </div>
      </div>
    </div>
    <br>

    <div>
      <div class="label-text d-flex">
        <div class="col-md-5">
          <label class="float-end pe-4" for="Inputname">Node Status:</label>
        </div>
        <div class="col-md-7">
          <select class="btn btn-lg dropdown-toggledropdown-toggle dropdown-white" class="float-left" name="cars"
            id="cars">
            <option value="volvo">not in effect</option>
          </select>
        </div>
      </div>
    </div>
    <br>
  </form>
</div>
<div class="button">
  <button class="w3-button w3-grey">Back...</button>
  <button class="w3-button w3-grey">Reset</button>
  <button class="w3-button w3-grey">Save</button>
  <button class="w3-button w3-grey">Profile</button>
</div>